/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    width: 100%;
}
#logo{
    padding: 20px;
    
}
h1{
    display: inline-block;
    font-size: 3rem;
    line-height: 100px;
    vertical-align: 30px;
}
.bg-grey{
    width: 100%;
    height: 900px;
    background-color: rgb(246, 248, 249);
    padding: 50px;
}
main{
    width: 80%;
    height: 620px;
    background-color: white;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 10px;
}
#task{
    display: inline-block;
    margin-left: 50px;
    border: 1px solid rgb(71, 173, 241);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(71, 173, 241);
    color: white;
}
#section{
    display: inline-block;
    margin-left: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    color: lightgray;
}
.content{
    margin-top: 10px;
    border-top: 1px solid rgb(246, 248, 249);
    padding: 40px;

}
.title h2{
    display: inline-block;
    vertical-align: 16px;
}

.check{
    font-size: 1rem;
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    margin-right: 3px;
}
.bg-blue{
    display: inline-block;
    background-color: rgb(71, 173, 241);
    color: white;
    border: 1px solid rgb(71, 173, 241);
    border-radius: 15px;
    height: 28px;
    padding: 3px;
}
.today{
    margin-top: 30px;
}
.bg-purple{
    display: inline-block;
    background-color: purple;
    color: white;
    border: 1px solid purple;
    border-radius: 15px;
    height: 28px;
    padding: 3px;
}
.undo{
    font-size: 1rem;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    margin-right: 3px;
}
.raw{
    margin-top: 10px;
}
.bg-green{
    display: inline-block;
    background-color: rgb(114, 214, 114);
    color: white;
    border: 1px solid rgb(114, 214, 114);
    border-radius: 15px;
    height: 28px;
    padding: 3px;
}
.bg-orange{
    display: inline-block;
    background-color: orange;
    color: white;
    border: 1px solid orange;
    border-radius: 15px;
    height: 28px;
    padding: 3px;    
}
.bg-pink{
    display: inline-block;
    background-color: rgb(173, 62, 105);
    color: white;
    border: 1px solid rgb(173, 62, 105);
    border-radius: 15px;
    height: 28px;
    padding: 3px;    
}
.bg-lightgreen{
    display: inline-block;
    background-color: rgb(176, 201, 38);
    color: white;
    border: 1px solid rgb(176, 201, 38);
    border-radius: 15px;
    height: 28px;
    padding: 3px;
}